@tailwind base;
@tailwind components;
@tailwind utilities;

/* For a custom scrollbar to match the aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9; /* slate-100 */
}
::-webkit-scrollbar-thumb {
  background: #94a3b8; /* slate-400 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
    background: #0f172a; /* slate-900 */
}
.dark ::-webkit-scrollbar-thumb {
    background: #475569; /* slate-600 */
}
.dark ::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* slate-500 */
}